<% for student in @students %>

<p> first name: <%= student.first_name %>  </p>
<p> second name: <%= student.second_name %>  </p>
<p> house: <%= student.house %>  </p>
<p> age: <%= student.age %>  </p>




<% end %>