<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts Student Matriculation System</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Bitter|Great+Vibes" rel="stylesheet">
</head>
<body>

<div class="header">
Hogwarts Student Directory
</div>

<nav>
<ul>
<li><a href="/students">Student List</a></li>
<li><a href="/students/new">Add New Student</a></li>
</ul>
</nav>


<%= yield %>
<div class="motto">
Draco dormiens nunquam titillandus.
</div>
</body>
</html>