<form action="/students" method="post">
  <label>
    First name:
    <input type="text" name="first_name">
  </label>

  <form action="/students" method="post">
    <label>
      Second name:
      <input type="text" name="second_name">
    </label>

    <form action="/students" method="post">
      <label>
        Age:
        <input type="number" name="age">
      </label>

      <label>
        Select a house:
        <select name="house">
          <option value="Gryffindor">Gryffindor</option>
          <option value="Hufflepuff">Hufflepuff</option>
          <option value="Ravenclaw">Ravenclaw</option>
          <option value="Slytherin">Slytherin</option>
        </select>  
      </label>
      <input type="submit" value="create student">
      </form>

